{% extends '_layout.html' %}
{% set active_page = "index" %}

{% block body %}
<h1>Register</h1>
<p>Use the following form to register for a student organization.</p>
<form action="/registrants" method="post">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" name="name" id="name" />
  <label for="organization" class="form-label mt-3">Organization</label>
  <select class="form-control" name="organization" id="organization">
    <option>Select an organization</option>
    <option value="Charlotte Hack">Charlotte Hack</option>
    <option value="Code9">Code9</option>
    <option value="CompSci Club">CompSci Club</option>
    <option value="Cool Coders">Cool Coders</option>
    <option value="Pragmatic Programmers">Pragmatic Programmers</option>
  </select>
  <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>
{% endblock %}
